# Ignore everything
*

# But not Java files...
!*.svg
!*.log
!*.sh
!*.md
!.gitignore
!*.java
!yandex-tank/0.txt
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml

# ...even if they are in subdirectories
!*/
